/* Nav Bar */
.nav-wrapper {
    background-color: #2E3639;
}

.navbar-fixed { /* removes overlay so user can press links */
    z-index: 999; 
 }


/* Main */
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
main {
flex: 1 0 auto;
overflow: hidden;
}

/* Contact Section */
.main-profile-pic {
    height: 300px;
}

.contact-icons {
    background-color: #00bcd4;
}

.contact-icons:hover {
    background-color: #2E3639;
}

/* Languages/Skills Section */
.language-icons {
    background-color: #00bcd4;
    margin-right: 7px;
}

.language-icons:hover {
    background-color: #2E3639;
}

.resume {
    margin-top: 25px;
    height: 425px;
}

.download-button {
    background-color: #494D52;
    margin-top: 30px;
    min-width: 200px;
    margin-left: 65px;
    border-radius: 10px;
}

.download-button:hover {
    background-color: #2E3639
}

/* Cards/Portfolio Section */
.card {
    margin-top: 15px;
    margin-bottom: 25px;
}

.card-github {
    background-color: #2E3639;
}

/* Footer */
.page-footer {
    background-color: #2E3639;
}