/* Nav Bar */
.nav-wrapper {
    background-color: #2E3639;
}

.navbar-fixed { /* removes overlay so user can press links */
    z-index: 999; 
 }


/* Main */
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;

}
main {
    flex: 1 0 auto;
    overflow: hidden; /* Fixes bug from AOS that creates empty space on right side of mobile screen */
}

/* Contact Section */
.main-profile-pic {
    height: 300px;
}

.contact-icons {
    background-color: #00bcd4;
}

.contact-icons:hover {
    background-color: #2E3639;
}

/* Languages/Skills Section */
.language-icons {
    background-color: #00bcd4;
    /* margin-right: 7px; */
}

.language-icons:hover {
    background-color: #2E3639;
}

.resume {
    margin-top: 25px;
    height: 425px;
}

.download-button {
    background-color: #494D52;
    margin-top: 30px;
    min-width: 200px;
    margin-left: 65px;
    border-radius: 10px;
}

.download-button:hover {
    background-color: #2E3639
}

/* Cards/Portfolio Section */

.line {
    min-height: 425px;
    min-width: 100px;
    padding-right: 20px;
    margin-left: 30px;
}

.line-middle-card {
    min-height: 425px;
    min-width: 100px;
    padding-left: 20px;
    margin-right: 30px;
}

.text-section {
    margin-left: 80px;
    
}

.best-snow-border {
    border-radius: 25px;
    background-image: linear-gradient(to right, #002E57, #188BF0);
    width: 100%;
    min-width: 380px;
}

.best-snow-border-small {
    border-radius: 25px;
    background-image: linear-gradient(to right, #002E57, #188BF0);
}

.best-snow {
    border-radius: 10px;
    min-height: 425px;
    height: 100%;
    width: 100%;
    min-width: 300px;
}

.best-snow-small {
    border-radius: 10px;
}

.line1-mobile {
    border-bottom: 6px solid #2E3639;
    height: 50px;
    border-radius: 1px;
}

.github-button {
    background-color: #00bcd4;
    border-radius: 10px;
}

.note-border {
    border-radius: 25px;
    background-image: linear-gradient(to right, #027D9C, #02BAE8);
    width: 100%;
    min-width: 380px;
}

.note-border-small {
    border-radius: 25px;
    background-image: linear-gradient(to right, #027D9C, #02BAE8);
}

.team-border {
    border-radius: 25px;
    background-image: linear-gradient(to right, #007A8A, #19E4FF);
    width: 100%;
    min-width: 380px;
}

.team-border-small {
    border-radius: 25px;
    background-image: linear-gradient(to right, #007A8A, #19E4FF);
}

/* Footer */
.page-footer {
    background-color: #2E3639;
}

